<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="MobiusEditor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MobiusEditor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
    </startup>
    <applicationSettings>
        <MobiusEditor.Properties.Settings>
            <setting name="UseClassicFiles" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ModsToLoadTD" serializeAs="String">
                <value>2844969675;GraphicsFixesTD</value>
            </setting>
            <setting name="ModsToLoadRA" serializeAs="String">
                <value>2978875641;GraphicsFixesRA</value>
            </setting>
            <setting name="ModsToLoadSS" serializeAs="String">
                <value>2844969675;GraphicsFixesTD</value>
            </setting>
            <setting name="DefaultBoundsObstructFill" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DefaultTileDragProtect" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DefaultTileDragRandomize" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DefaultShowPlacementGrid" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DefaultOutlineAllCrates" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DefaultCratesOnTop" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DefaultShowMapGrid" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DefaultExportScale" serializeAs="String">
                <value>-0.5</value>
            </setting>
            <setting name="DefaultExportScaleClassic" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ZoomToBoundsOnLoad" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MapGridColor" serializeAs="String">
                <value>64, 0, 0, 255</value>
            </setting>
            <setting name="MapBackColor" serializeAs="String">
                <value>32, 32, 32</value>
            </setting>
            <setting name="MapScale" serializeAs="String">
                <value>0.5</value>
            </setting>
            <setting name="MapScaleClassic" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="PreviewScale" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ObjectToolItemSizeMultiplier" serializeAs="String">
                <value>0.3</value>
            </setting>
            <setting name="TemplateToolTextureSizeMultiplier" serializeAs="String">
                <value>0.5</value>
            </setting>
            <setting name="MaxMapTileTextureSize" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="UndoRedoStackSize" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="MinimumClampSize" serializeAs="String">
                <value>30, 30</value>
            </setting>
			<setting name="ClassicPathTD" serializeAs="String">
				<value>Classic\TD</value>
			</setting>
			<setting name="ClassicPathRA" serializeAs="String">
				<value>Classic\RA</value>
			</setting>
			<setting name="ClassicPathSS" serializeAs="String">
				<value>Classic\TD</value>
			</setting>
            <setting name="EnforceObjectMaximums" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Ignore106Scripting" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="NoMetaFilesForSinglePlay" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ConvertRaObsoleteClear" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="BlockingBibs" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DisableAirUnits" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ConvertCraters" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FilterTheaterObjects" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="WriteClassicBriefing" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ApplyHarvestBug" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="NoOwnedObjectsInSole" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DrawSoleTeleports" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RestrictSoleLimits" serializeAs="String">
                <value>True</value>
            </setting>
        </MobiusEditor.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <MobiusEditor.Properties.Settings>
            <setting name="ShowInviteWarning" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="GameDirectoryPath" serializeAs="String">
                <value />
            </setting>
            <setting name="CellTriggersToolDialogDefaultPosition" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="ResourcesToolDialogDefaultPosition" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="TemplateToolDialogDefaultPosition" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="TerrainToolDialogDefaultPosition" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="WaypointsToolDialogDefaultPosition" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="SmudgeToolDialogDefaultPosition" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="InfantryToolDialogDefaultPosition" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="UnitToolDialogDefaultPosition" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="OverlayToolDialogDefaultPosition" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="BuildingToolDialogDefaultPosition" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="WallsToolDialogDefaultPosition" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="ApplicationVersion" serializeAs="String">
                <value />
            </setting>
        </MobiusEditor.Properties.Settings>
    </userSettings>
    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <probing privatePath="bin" />
        </assemblyBinding>
    </runtime>
</configuration>
